 .main{
    width: 980px;
    height: 460px;
    margin-left: 219px;
    margin-top: 3px;

 }
 .focus{
    float: left;
    width: 729px;
    height: 454px;
   
 }
 .newflash{
    float: right;
    width: 251px;
    height: 454px;

 }
 .news{
    height: 165px;
    border: 1px solid #e4e4e4;
 }
 .news-hd{
    height: 33px;
    line-height: 33px;
    border-bottom: 1px dotted #e4e4e4;
    padding: 0 15px;
 }
 .news-hd h5{
    float: left;
    font-size: 14px;
 }
 .news-hd .more{
    float: right;
    font-size: 12px;
 }
 .news-hd .more::after{
    font-family: 'icomoon';
    content: '\e906';
 }
 .news-bd{
    padding: 5px 15px 0;
 }
 .news-bd ul li{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 24px;
    line-height: 24px;
 }
 .news-bd ul li a{
    font-size: 12px;
 }
 .lifeservice{
    height: 209px;
    border: 1px solid #e4e4e4;
    border-top: 0;
    overflow: hidden;
 }
  .lifeservice ul{
    width: 252px;
    
  } 
  .lifeservice ul li{
    float: left;
    width: 63px;
    height: 71px;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    text-align: center;
  }
   .lifeservice ul li i {
    display: inline-block;
    width: 24px;
    height: 25px;
    margin-top: 12px;
    }
   .lifeservice ul li:nth-child(1) i {
    background: url(../images/icons.png) no-repeat -15px -16px;
   }
   .lifeservice ul li:nth-child(2) i {
    background: url(../images/icons.png) no-repeat -79px -16px;
   }
   .lifeservice ul li:nth-child(3) i {
    background: url(../images/icons.png) no-repeat -141px -17px;
   }
   .lifeservice ul li:nth-child(4) i {
    background: url(../images/icons.png) no-repeat -206px -16px;
   }
   .lifeservice ul li:nth-child(5) i {
    background: url(../images/icons.png) no-repeat -17px -88px;
   }
   .lifeservice ul li:nth-child(6) i {
    background: url(../images/icons.png) no-repeat -78px -88px;
   }
   .lifeservice ul li:nth-child(7) i {
    background: url(../images/icons.png) no-repeat -141px -88px;
   }
   .lifeservice ul li:nth-child(8) i {
    background: url(../images/icons.png) no-repeat -206px -88px;
   }
   .lifeservice ul li:nth-child(9) i {
    background: url(../images/icons.png) no-repeat -17px -159px;
   }
   .lifeservice ul li:nth-child(10) i {
    background: url(../images/icons.png) no-repeat -79px -159px;
   }
   .lifeservice ul li:nth-child(11) i {
    background: url(../images/icons.png) no-repeat -141px -159px;
   }
   .lifeservice ul li:nth-child(12) i {
    background: url(../images/icons.png) no-repeat -206px -159px;
   }
 .bargin{
    margin-top: 5px;
 }
 .recom{
    height: 163px;
 }
.recom-hd{
    float: left;
    width: 208px;
    height: 163px;
    background-color: #5C5251;
    text-align: center;
    padding-top: 30px;
}
.recom-bd{

    float: left;
}
.recom-bd ul li{
    position: relative;
    float: left;
}
.recom-bd ul li:nth-child(-n+3):after{
    content: '';
    position: absolute;
    top: 10px;
    right: 0;
    width: 1px;
    height: 143px;
    background-color: #ddd;

}
.recom-bd ul li img{
    width: 248px;
    height: 163px;
}
.floor .w{
    margin-top: 30px;
}
.box-hd{
    height: 30px;
    border-bottom: 2px solid #c81623;
}
.box-hd h3{
    float: left;
    font-size: 18px;
    font-weight: 400;
    color: #c81623;
}
.tab-list{
    float: right;
    line-height: 30px;
}
.tab-list ul li{
    float: left;


}
.tab-list ul li a{
    margin: 0 15px;
}
.box-bd{
    height: 360px;
}
.tab-list-item>div{
    float: left;
    height: 360px;
}
.col-210{
    width: 210px;
    background-color: #F9F9F9;
    text-align: center;
}
.col-210 ul{
    padding-left: 12px;
}
.col-210 ul li{
    float: left;
    width: 86px;
    height: 34px;
    margin-right: 12px;
    border-bottom: 1px solid #ededed;
    line-height: 33px;
    text-align: center;

}
.col-328{
    width: 328px;
}
.col-220{
    width: 220px;
    border-right: 1px solid #ededed;
}
.col-222{
    width: 222px;
    border-right: 1px solid #ededed;
}
.col-219{
    width: 219px;
}
.bb{
    /*一般情況下，a如果包含有寬度的盒子，a需轉成塊及元素*/
    display: block;
    border-bottom: 1px solid #ededed;;
}